.theme-container {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 999;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
    transition: opacity 0.5s ease-in-out;    
      border-radius: 50%;
  }
  
  .theme-container #moon{
    color: #ffff;
    font-size: 34px;
  }
  
  .theme-container #sun{
    color:#fff;
    font-size: 34px;
  }
  
  .shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
  
  }
  
  .shadow-light {
    
      
      background-color: rgb(255, 127, 63);
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
